body{
    background-color: white;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    color:  #ffffff;
}

.header__top{
    background: url(../img/header.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 500px;
}

.logo__pick a{
    transition: transform .9s ease;
}

.logo__pick:hover a{
    transform: scale(1.5);
    color:#fc6a42;
}

a{
    text-decoration: none;
    display: inline-block;
    font-family: 'Ubuntu', sans-serif;
    color:  #ffffff;
}

.menu__link a{
    transition: color .5s ease;
}

.menu__link:hover a{
 color: #4466c9;
 text-decoration: underline;
}

ul,li{
    list-style: none;
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1170px;
    margin:0 auto;
    padding: 0 15px;
}

.header__top{
    padding: 37px;
    height: 961px;
}

.header__top li{
    display: inline-block;
}

.header__menu{
    display: flex;
    justify-content: space-between;
}

.header__menu .logo a{
    font-size: 17px;
    font-weight: bold;
}

.menu a{
    font-size: 13px;
    padding-left: 82px;
}

.social a {
    padding-left: 43px;
}

.social__pick img{
    transition: transform .5s ease;
}

.social__pick:hover img{
    transform: rotate(360deg);
}

/*header title goes below*/

.header__title{
    margin-top: 245px;
}

.header__information h1{
    font-size: 47px;
}

.header__information p {
    font-size: 14px;
    margin-top: 53px;
    margin-bottom: 58px;
    line-height: 15px;
}

.dl{
    background-color: #fc6a42;
    color:#ffffff;
    font-size: 14px;
    padding: 18px 34px;
    border: none;
    border-radius: 5px;
}

.dl:hover{
    color: #fc6a42;
    background-color:#ffffff;
    cursor: pointer;
}

.ft{
    background-color:#4466c9;
    color:#ffffff;
    font-size: 14px;
    padding: 18px 34px;
    border: none;
    border-radius: 5px;
    margin-left: 12px;
}

.ft:hover{
    background-color:#ffffff;
    color: #4466c9;
}

/*section after header goes here*/

.section__title{
    margin-top: 200px;
    text-align: center;
    text-transform: uppercase;
    font-size: 27px;
    color: #648cff;
}

.section__text{
    margin-top: 30px;
    text-align: center;
    font-size: 14px;
    color: #999999;
}

.cards{
    display: flex;
    justify-content: space-between;
}

.card{
    margin-top: 135px;
    display: inline-block;
}

.di{
    float: left;
}


.card__title{
 margin-left: 95px;
 font-size: 17px;
 font-weight: bold;
 color: #353854;
}

.card__description{ 
  margin-left: 95px;
  margin-top: 25px;
  font-size: 12px;
  color: #b8b8b8;
  line-height: 16px;
  letter-spacing: 0.5px;
}

/*section 2 after header goes here*/


.simple{
    margin-top: 200px;
}

.simple__description{
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 27px;
    color: #648cff;
}

.simple__text{
    margin-top: 25px;
    text-align: center;
    font-size: 14px;
    color: #999999;
}

/*slider goes here*/

#slider{
    margin: 80px auto;
    width: 910px;
    height: 564px;
}

.slider__one{
    transition: transform 1s ease;
}

.slider__one:hover{
    transform: scale(1.2);
}

/*cloudy goes here*/

.clo{
    margin-top: 205px;
}

.cloudy__phone{
    display: inline-block;
    float: left;
    overflow: hidden;
}

.cloudy__phone img{
    transform: scale(1);
    transition: transform .3s ease-in;
}

.cloudy__phone:hover img{
    transform: scale(1.1);
}


.cloudy__description{
    display: flex;
    flex-direction: column;
    padding-top: 85px;
    padding-left: 105px;
}

.cloudy__header{
    margin-top: 50px;
    text-transform: uppercase;
    color: #648cff;
    font-size: 25px;
    font-weight: bold;
}

.cloudy__text{
    margin-top: 38px;
    margin-bottom: 60px;
    color: #353854;
    line-height: 25px;
}

.clear{
    clear: both;
}

/* sunny goes here */

.sun{
    margin-top: 205px;
}

.sun__phone{
    display: inline-block;
    float: right;
    padding-right: 150px;
    overflow: hidden;
}

.sun__phone img{
    transform: scale(1);
    transition: transform .3s ease-in;
}

.sun__phone:hover img{
    transform: scale(1.1);
}

.sun__description{
    display: flex;
    flex-direction: column;
    padding-top: 85px;
    padding-left: 25px;
}

/*people goes here*/

.people{
    margin-top: 120px;
}

/*rewies go here*/

.reviwes{
    margin-top: 85px;
}

.reviews__top{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.reviews__top__left{
    display: inline-block;
}

.reviews__top__text{
    line-height: 24px;
    font-size: 18px;
    color: #353854;
    padding-top: 25px;
    padding-bottom: 30px;
    transition: .3s ease-in;
}

.reviews__top__text:hover{
    color: #5b81ec;
}

.reviews__top__autor{
  font-size: 13px;
}

.sticks_right{
    padding-left: 337px;
}

.reviews__top__right{
    display: inline-block;
    margin-left: 30px;
}

.reviews__bottom{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 95px;
}

/* info goes here */

.info{
 background: url(../img/bg.jpg) no-repeat ;
 background-size: cover;
 background-position: center;
 min-height: 300px;
 margin-top:  120px;
 padding-top: 125px;
}

.info__header{
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
}

.info__text{
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 15px;
}

/*footer goes here*/

footer{
    padding-top: 100px;
    background: #353854;
}

.footer__top{
    display: flex;
    justify-content: space-between;
}

footer li{
    display: inline-block;
}

span{
    color: #fc6a42;
    font-weight: bold;
    font-size: 18px;
}

.footer__logo a{
    color: #648cff;
    font-weight: bold;
    font-size: 18px;
}

.footer__menu a{
    color: #b5b5c8;
}

.line{
    padding-top: 100px;
    padding-bottom: 50px;
}

hr{
    height: 1px;
    border: none;
    background-color: #565b87;
}

.footer__ends{
    color: #565b87;
    font-size: 15px;
    padding-left: 750px;
    padding-bottom: 85px;
}

